<!DOCTYPE html>
<html>
<head>
    <title>SolSafari Point</title>
    <script src="{{ url_for('static', filename='lib/jquery.min.js')}}"></script>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='lib/bulma.min.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <script>


        let index = 1;

        function poll() {
        setTimeout(function () {
            ajax();
        }, 1000);
        }

        function ajax(){
            $.ajax({
                url: "/ajax/",   
                success: function(result){
                    $("#points").html(result);
            }, 
                complete: function() {
                    poll();
                },
                
                timeout: 0,
            });
        }

        function reset(){
            $.ajax({             
                url: "/reset/",   
                timeout: 0,
            });
        }

        function new_round(){
            reset();
            let points = $("#points").text(); // Get inner text aka points
            $("#points").html("0");
            
            //index++; // Start next round
        }

        function write_old_points(list) {
            
            let liste = list["rounds"];

            liste.forEach(element => {
                add_round_element(index, element);
                index++;
            });

        }

        function add_round_element(index, value) {

            let columns = document.createElement('div');
            columns.className = 'columns is-mobile is-cqentered has-background-white-ter has-text-grey-light mx-0 my-3' ;

            let center_column = document.createElement('div');
            center_column.className = 'column is-half  px-0 mx-0'; //half = 6

            let left_column = document.createElement('div');
            left_column.className = 'column is-3 px-3  mx-0'

            let right_column = document.createElement('div');
            right_column.className = 'column px-0  mx-0'

            const left_content = document.createTextNode('Runde ' + index);
            const center_content = document.createTextNode(value);

            center_column.appendChild(center_content);
            left_column.appendChild(left_content);

            //column.className = 'column has-background-grey-lighter m-2';
            //span.style.cssText = 'text-align: center;';

            center_column.style.cssText = 'text-align:center;';



            columns.appendChild(left_column);
            columns.appendChild(center_column);
            columns.appendChild(right_column);

            $("#old_points").append(columns);

        }

        $(document).ready(function(){
            poll();

            $( "#new_round" ).click(function() {
                new_round();
            });

            $.post({
                
                url: "/rounds/",   
                success: function(result){
                    write_old_points(result);
            }, 
                complete: function() {
                    poll();
                },
                
                timeout: 0,
            });
        
        });
    </script>
</head>

<body>


    <div class="columns is-desktop is-mobile is-centered">
        <div class="column is-half-desktop is-two-thirds-tablet is-11-mobile is-two-thirds-mobile">
            <div class="container has-background-info-light p-6 my-3" style="text-align: center;">
                <h4 class="my-3 is-size-5">
                    Point indsamlet i denne runde
                </h4>
                <div class="inner_content">
                    <div class="is-size-1 my-5"><h2 id="points">0</h2></div>
                </div>
                <a id="new_round" class="button is-primary">
                    Start ny runde
                </a>
                <h3 class="is-size-7 mt-5 has-text-grey">Nuværende runde: <span id="runde_counter">1</span></h3>

            </div>
            
            <div class="container" id="old_points"></div>
        </div>
    </div>


</body>
</html>
