<!DOCTYPE html>
<html>
<head>
    <title>SolSafari Point</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <script>

        function poll() {
        setTimeout(function () {
            ajax();
        }, 1000);
        }

        function ajax(){
            $.ajax({
                
                url: "/ajax/",   
                success: function(result){
                    $("#points").html(result);
            }, 
                complete: function() {
                    poll();
                },
                
                timeout: 0,
            });
        }

        function reset(){
            $.ajax({
                
                url: "/reset/",   
                success: function(result){
                    $("#points").html(result);
            }, 
                complete: function() {
                    poll();
                },

                timeout: 0,
            });
        }

        function new_round(){
            reset();
            let points = $("#points").text(); // Get inner text aka points
            $("#points").html("0");
            //$("#old_points").append('<div class="container has-background-info-light p-1 m-3" style="text-align: center;"> Round: ' + index + ' - Points: ' + points + '</div>');
            
            //index++; // Start next round
        }

        $(document).ready(function(){
            poll();

            $( "#new_round" ).click(function() {
                new_round();
            });

            $.ajax({
                
                url: "/reset/",   
                success: function(result){
                    $("#old_points").html(result);
            }, 
                complete: function() {
                    poll();
                },
                
                timeout: 0,
            });
        
        });
    </script>
</head>

<body>


    <div class="columns  is-desktop is-mobile is-centered">
        <div class="column is-half-desktop is-two-thirds-tablet is-two-thirds-mobile">

            <div class="container has-background-info-light	p-6 m-3" style="text-align: center;">
                <h1 class="my-3">
                    Point indsamlet i denne runde
                </h1>
                <div class="inner_content">
                    <div class="my-5"><h2 id="points"></h2></div>
                </div>
                <a id="new_round" class="button is-primary">
                    Start ny runde
                </a>
            </div>
            <div id="old_points">

            </div>
    </div>


</body>
</html>
